

.homeButton {
    margin-left: 10px;
    font-size: 10px;
}

.home {

    height: 100vh;
    display: grid;
    place-items: center;
    width: 100vw;
}

.icon{
    font-size: 33px;
    margin: -10px 40px 10px 0px;
}

.homeInput{
    border-radius: 4px;
    border: 1px solid grey;
    outline: none;
}

.chatInterface{
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    max-width: 100vw;
}


.usersListSymbol{
    background: gray;
    border-radius: 50%;
    font-size: 28px;
    width: 33px;
    display: inline-block;
}

.username{
    font-size: 25px;
    font-weight: 400;
    margin: 0px 0px 0px 10px;
    display: inline-block;
}

.usersListOnlineStatus{
    margin-right: 22px;
    
}

.usersList{
    width: 31vw;
}
li:hover{
    background-color: grey;
    border-radius: 10px;
}
.messages{
    width: 69vw;
    background-size: 69vw;
    background-color: beige;
    height: 100vh;
    overflow: scroll;
}

.messagesInput{
    outline: none;
    height: 5vh;
    width: 62.5vw;
    border: none;
    margin-left: 3px;
    margin-bottom: 8px;
    border-radius: 7px;
}


.message{
    margin:10px
}